iot-and-communications/LoRaWAN/chirpstak/laboratorio-lorawan/flow_completo_lorawan_lab3.json
[
  {
    "id": "lab2-flow",
    "type": "tab",
    "label": "Lab2_Uplinks_ChirpStack",
    "disabled": false,
    "info": ""
  },
  {
    "id": "inject-uplink",
    "type": "inject",
    "z": "lab2-flow",
    "name": "🚀 Enviar Uplink crudo",
    "props": [],
    "repeat": "",
    "once": false,
    "topic": "",
    "x": 150,
    "y": 100,
    "wires": [["fn-build-payload"]]
  },
  {
    "id": "fn-build-payload",
    "type": "function",
    "z": "lab2-flow",
    "name": "Construir payload gateway",
    "func": "// 6 bytes ejemplo: 0A1F3C03D60A7\n// Formato: [Temp_H][Temp_L][Hum][Pres_H][Pres_L][Bat]\nlet hexPayload = \"0A1F3C03D60A7\";\nlet base64Payload = Buffer.from(hexPayload, \"hex\").toString(\"base64\");\nmsg.payload = {\n  gatewayId: \"2C7F71115310007\",\n  rxInfo: [{ rssi: -57, snr: 5.5 }],\n  phyPayload: base64Payload\n};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 410,
    "y": 100,
    "wires": [["mqtt-out-chirpstack", "debug-out"]]
  },
  {
    "id": "mqtt-out-chirpstack",
    "type": "mqtt out",
    "z": "lab2-flow",
    "name": "MQTT → ChirpStack gateway",
    "topic": "us915/gateway/2C7F71115310007/event/up",
    "qos": "0",
    "retain": "false",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-chirpstack",
    "x": 730,
    "y": 100,
    "wires": []
  },
  {
    "id": "mqtt-in-decoded",
    "type": "mqtt in",
    "z": "lab2-flow",
    "name": "MQTT ← ChirpStack decoded",
    "topic": "application/1/device/70B3D57ED005ABCD/event/up",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt-chirpstack",
    "x": 250,
    "y": 220,
    "wires": [["debug-in-decoded"]]
  },
  {
    "id": "debug-in-decoded",
    "type": "debug",
    "z": "lab2-flow",
    "name": "Debug uplink decodificado",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 600,
    "y": 220,
    "wires": []
  },
  {
    "id": "debug-out",
    "type": "debug",
    "z": "lab2-flow",
    "name": "Debug uplink crudo",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 730,
    "y": 160,
    "wires": []
  },
  {
    "id": "mqtt-chirpstack",
    "type": "mqtt-broker",
    "name": "ChirpStack Mosquitto",
    "broker": "chirpstack-docker-mosquitto-1",
    "port": "1883",
    "clientid": "nodered-lab2-client",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  }
]